alembic==1.10.2
anyio==3.7.1
fastapi==0.95.0
graphene==3.2.2
graphene-sqlalchemy==3.0.0rc2
psycopg2-binary==2.9.12
pydantic==1.10.26
python-dotenv==1.0.0
SQLAlchemy==1.4.54
starlette==0.26.1
starlette-graphene3==0.6.0
uvicorn==0.21.1